aniso8601==8.0.0
attrs==19.2.0
boto3==1.9.248
botocore==1.12.248
Click==7.0
docutils==0.15.2
Flask==1.1.1
flask-restplus==0.13.0
Flask-Cors==3.0.9
importlib-metadata==0.23
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.4
jsonschema==3.1.1
MarkupSafe==1.1.1
more-itertools==7.2.0
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
s3transfer==0.2.1
six==1.12.0
urllib3==1.26.5
Werkzeug==2.2.3
zipp==0.6.0
