<h2>Podcasts</h2>
<ul class="podcasts">
    <li *ngFor="let podcast of podcasts" 
        [class.selected]="podcast === selectedPodcast"
        (click)="onSelect(podcast)">
        <span class="badge">{{podcast.EpisodeID}}</span> {{podcast.Title}}
    </li>
</ul>

<div *ngIf="selectedPodcast">>
    <h2>{{ selectedPodcast.Title | uppercase }} Details</h2>
    <div><span>id: </span>{{selectedPodcast.EpisodeID}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedPodcast.Title" placeholder="Title"/>
        </label>
    </div>
</div>